* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  margin: 0;
  background-image: url(./public/assets/images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

canvas {
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.8);
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

input {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;

  width: 300px;
  height: 50px;
  font-family: monospace;
  font-size: 14px;
  border: none;
  background-color: black;
  color: limegreen;
  text-shadow: 1px 1px 1px black;

  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;

  padding: 2px;
  border-bottom: 6px solid limegreen;
  border-top: 2px solid limegreen;
  border-left: 8px solid limegreen;
  border-right: 3px solid limegreen;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  z-index: 1000;

  h1 {
    text-align: center;
  }

  button {
    cursor: pointer;
    height: 56px;
    padding: 32px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .inner-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

#startButton {
  padding: 30px 70px;
  background-color: #222;
  color: limegreen;
  border: 5px solid limegreen;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  image-rendering: pixelated;
}

button:hover {
  transform: scale(1.1);
}

#round-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 1000;
  animation: fade-in-out 2s ease-in-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
